*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{

	background-image: url('../images/code.jpg');
	background-size: cover;

}

.myphoto{
	width: 170px;
	border-radius: 50%;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

.jumbotron{
	background-color: rgba(0,0,0,0.85);
}

#card_icon{
	width: 80px;
}


