*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{

	background-image: url('../images/code.jpg');
	background-size: cover;

}

.myphoto{
	width: 170px;
	border-radius: 50%;
	border: 3px solid white; 
}

h1{
	font-family: 'Montserrat', sans-serif;
}

.jumbotron{
	background-color: rgba(0,0,0,0.90);
}

#card_icon{
	width: 80px;
}

img#card_icon, #work_icon {
  filter:invert(100%);
}

.card,.card-header,#workflow{
	/*background-color: rgba(0,0,0,0.85);*/
	background-color: transparent;
}
